/*CSS document*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;}

div.container, div.home-container, div.gallery-container, div.newsletter-container {
    margin: auto;
    max-width: 35em;
}

img {
    width: 100%;
    display: block;
}

section {
    margin-bottom: 2em;
}

h1 {
    width: 12em;
    margin: 1.5em 0em;
}

h2 {
    font-family: hoss-round-slab, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5em;
    color: #CD3E0A; /*Updated color to pass contrast test on WebAIM!*/
}

h3 {
    font-family: hoss-round-slab, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
    color: rgb(0, 0, 0);
    margin-bottom: 1em;
    line-height: 1.25em;
    text-transform: uppercase;
}

section.mainstory h2 {
    padding-top: .25em;
    padding-bottom: .15em;
    line-height: 1.1em;
}

section.secondary h2, aside section.secondary h2 {
    font-size: 1.8em;
    padding-top: .25em;
    padding-bottom: .2em;
    line-height: 1.1em;
}

section.tertiary h2{
    font-size: 1.25em;
    border-top: 1.5px solid #6064A6;
    padding-top: .25em;
}

p, label {
    font-family: "davis-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1em;
    color: rgb(0, 0, 0);
    margin-bottom: 1em;
    line-height: 1.25em;
}

article figure{
    margin-bottom: 1.5em;
}

article h2 {
    margin: .75em 0em 0.25em 0em;
}

a {
    text-decoration: none;
}

nav {
    margin-bottom: 1em;
}

nav ul li {
    font-size: 1em;
    font-family: davis-sans, sans-serif;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    list-style-type: none;
    margin: .25em 0em;
}

nav ul li a{
    color: #D9A44A;
}

footer {
    background-color: #6064A6;
    padding: .75em 0em;
    box-sizing: border-box;
}

footer p {
    color: rgb(255, 255, 255)
}

header, h2, p, figcaption{
    padding: 0 0.5rem; /*Padding on mobile screen size*/
}

aside {
    background-color: #FFF1E8;
    padding: 1.25em .75em;
}

aside h2, aside p{
    padding: 0;
}

aside section.secondary h2 {
    font-size: 1.5em;
}

figcaption {
    font-size: 1em;
    font-family: davis-sans, sans-serif;
    font-weight: 400;
    font-style: italic;
    margin: .25em 0em;
    color: #888;
}

/* PHOTO GALLERY */
body.gallery {
	box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main.gallery img {
	width: 100%;
}

div.gallery-container main {
    position: relative;
    overflow: hidden;
    padding-bottom: calc(67% + 4em);
}

div.gallery-container h2 {
    padding-bottom: .35em;
}

main.gallery figure{
    margin: 0;
    width: calc(100%-2em);
    position: absolute;
    opacity: 0;
    transition: opacity .5s;
}

input:nth-of-type(1):checked ~ main.gallery figure:nth-of-type(1),
input:nth-of-type(2):checked ~ main.gallery figure:nth-of-type(2),
input:nth-of-type(3):checked ~ main.gallery figure:nth-of-type(3),
input:nth-of-type(4):checked ~ main.gallery figure:nth-of-type(4),
input:nth-of-type(5):checked ~ main.gallery figure:nth-of-type(5),
input:nth-of-type(6):checked ~ main.gallery figure:nth-of-type(6),
input:nth-of-type(7):checked ~ main.gallery figure:nth-of-type(7),
input:nth-of-type(8):checked ~ main.gallery figure:nth-of-type(8){
    opacity: 1;
}

nav.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 0.2em;
}


input.gallery {
    display: none;
}

/* NEWSLETTER */

ul {
	list-style-type: none;
	padding: 0;
}

section.personal-info ul li {
	display: flex;
	flex-wrap: wrap;
	margin-top: 1em;
}

section.personal-info ul li label {
	flex: 0 0 5em;
}

section.personal-info ul li input[type="text"],
section ul li input[type="email"],
section ul li input[type="tel"],
section ul li select {
	flex: 1 0 24em;
	box-sizing: border-box;
}

h3 {
	margin-bottom: 0.25em;
}

form section {
    background: #FFF1E8;
    padding: 1em;
    margin-bottom: 1em;
}

form section p {
	margin-top: 0;
}

textarea {
	box-sizing: border-box;
	display: block;
	width: 100%;
	height: 6em;
	background: #fcfcfc;
	border: 1px solid #e8e8e8;
	padding: 0.4em;
	font-family: sans-serif;
	color: #777;
	}

form h2 {
    padding: 0;
}

form section.subscription-preferences ul li {
    margin-top: .75em;
}

form section.subscribe-button {
    background-color: rgb(255, 255, 255);
    padding: 0 0 2em 0;
}





@media only screen and (min-width:35em) {
    header, h2, p, figcaption{
        padding: 0;
    }

    nav ul li{
        display: inline;
        margin-right: .75em;
    }
}

@media only screen and (min-width: 60em) {
    
    div.home-container {
        max-width: 80em;
        padding: 0 1em;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 1em;
    }

    div.container {
        max-width: 60em;
        padding: 0 1em;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 1em;
    }

    div.gallery-container, div.newsletter-container{
        max-width: 60em;
        padding: 0 1em;
    }

    header, footer {
        grid-column: 1/3;
    }

    div.home-container main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1em;
    }

    div.home-container aside {
        background: none;
        padding: 0;
        margin-top: 0;
    }

    div.container aside {
        margin-top: 0;
    }

    section.mainstory {
        grid-column: 2/4;
        grid-row: 1/3;
        display: flex;

    }

    section.mainstory a {
        flex: 1 0 12em;
        display: flex;
        flex-direction: column;
    }

    section.mainstory a figure {
        flex: 1 0 12em;
        background: #ff0;
        display: flex;
    }

    section.mainstory a figure img {
        object-fit: cover;
    }

    section.mainstory a h2 {
        flex: 0 0 1em;
    }

    section.mainstory a p {
        flex: 0 0 4em;
    }

    section.secondary {
        display: flex;
    }

    section.secondary a {
        flex: 1 0 12em;
        display: flex;
        flex-direction: column;
    }

    section.secondary a figure {
        flex: 1 0 12em;
        background: #ff0;
        display: flex;
    }

    section.secondary a figure img {
        object-fit: cover;
    }

    section.secondary a h2 {
        flex: 0 0 1em;
    }

    section.secondary a p {
        flex: 0 0 4em;
    }
}